{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{ cartItems }}</strong></h5></th>
						<th><h5>Total:<strong> {{ order.get_order_total|floatformat:2 }}</strong></h5></th>
						<th>
							<a  class="btn btn-success btn-checkout" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element" id="cartDiv">
				<div class="cart-row">
					<div class="cart-col-two"></div>
					<div class="cart-col-two"><strong>Item</strong></div>
					<div class="cart-col-one"><strong>Price</strong></div>
					<div class="cart-col-one"><strong>Quantity</strong></div>
					<div class="cart-col-one"><strong>Total</strong></div>
					<div class="cart-col-one"><strong></strong></div>
				</div>
				{% for item in items %}
				{% if item.quantity > 0 %}
				<div class="cart-row">
					<div class="cart-col-two"><img class="row-image" src="../{{ item.product.imageUrl }}"></div>
					<div class="cart-col-two"><p>{{ item.product.name }}</p></div>
					<div class="cart-col-one"><p>{{ item.product.price|floatformat:2}}</p></div>
					<div class="cart-col-one" >
						<button 
							class="btn btn-primary btn-md"
							data-product="{{item.product.id}}" 
							data-action = "increment"
							onclick="manageCart(event,'{{item.product.id}}','increment')" 
						>
						<strong>+</strong>
						</button>
						<span class="mx-2">{{ item.quantity}}</span>
						<button 
							class="btn btn-primary btn-md"
							data-product="{{item.product.id}}" 
							data-action = "decrement"
							onclick="manageCart(event,'{{item.product.id}}','decrement')" 
						>
						<strong>-</strong>
						</button>
						
					</div>
					<div class="cart-col-one">
						<strong>{{ item.get_total|floatformat:2}}</strong>
						
					</div>
					<div class="cart-col-one">
						<button
							class="btn btn-danger btn-md"
							data-product="{{item.product.id}}"
							data-action = "remove"
							onclick = "manageCart(event,'{{item.product.id}}','remove')"
						>
						x
						</button>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock  %}
{% block js %}
<script>
	
	function manageCart(e,productId,action){
		e.preventDefault();
		if(action === "increment"){			
			cookieCart[productId]['quantity'] += 1;
		}
		else if(action === "decrement"){
			cookieCart[productId]['quantity'] -= 1;
			if(cookieCart[productId]['quantity']<=0){
				delete cookieCart[productId];				
			}
		}
		else if(action === "remove"){
			delete cookieCart[productId];			
		}
		else {
			console.log("Invalid Operation");
		}
		document.cookie = "cookieCart="+JSON.stringify(cookieCart)+";domain=;path=/";
		window.location.reload();
	}

	
</script>
{% endblock%}